*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.form1{
    max-width: auto;
    background-color: #a72c2c;
    border: 1px solid rgb(253, 253, 253);
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    padding: 1.2em;
}
.form2{
    max-width: auto;
    background-color: #ffffff;
    border: 1px solid rgb(182, 182, 182);
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    padding: 1em 2.2em;
    
}
.form3{
    max-width: auto;
    background-color: #ffffff;
    border: 1px solid rgb(255, 255, 255);
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    padding: 0em;
    
}
.form4{
    max-width: auto;
    background-color: #ffffff;
    border: 1px solid rgb(182, 182, 182);
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    padding: 2.2em 2.2em;
    
}
.margin{
    width: 100%;
}
.margin-list{
    width: 100%;
    color: #5f5e5e;
}
input ,select{
    width: 100%;
    border: 1px solid gray;
    padding: .5em;
    border-radius: 3px;
    margin-bottom: 1em;
}
img{
    width: 100%;
    
}.btn1{
    width: 40%;
    border: 1px solid gray;
    padding: .5em;
    border-radius: 3px;
    margin-bottom: 1em;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.titulo{
    font-family: 'Fredoka', sans-serif;
}
.titulo1{
    font-family: 'Fredoka', sans-serif;
    font-size: 25px;
    color: red;
    padding:10px ;
}

.titulo2{
    font-family: 'Fredoka', sans-serif;
    font: size 25px;
}
.titulo3{
    font-family: 'Fredoka', sans-serif;
    font-size:35px;
    text-align: left;
}

.parrafo_1{
    font-family: 'Roboto', sans-serif;
    
}
 

